<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.3.2" targetFramework="net461" />
  <package id="IntelliFactory.Reactive" version="3.6.9.70" targetFramework="net461" />
  <package id="WebSharper" version="3.6.18.241" targetFramework="net461" />
  <package id="WebSharper.Charting" version="3.6.15.45" targetFramework="net461" />
  <package id="WebSharper.ChartJs" version="3.6.9.62" targetFramework="net461" />
  <package id="WebSharper.Highstock" version="3.6.9.180" targetFramework="net461" />
  <package id="WebSharper.UI.Next" version="3.6.15.211" targetFramework="net461" />
</packages>